# Khata Ledger Enterprise Environment Configuration

PORT=8080
NODE_ENV=development
JWT_SECRET=khata_ledger_super_secret_jwt_key_2026_prod

DB_PROVIDER=supabase
SQLITE_DB_PATH=./backend/khata_ledger.db

SUPABASE_URL=https://hobqauofjovwdttvqmpt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_AJXZeXU61eRXm6ZlBkHb_g_R09JtQLe
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_AJXZeXU61eRXm6ZlBkHb_g_R09JtQLe
SUPABASE_DB_URL=postgresql://postgres:Devansh2004passw@db.hobqauofjovwdttvqmpt.supabase.co:5432/postgres

GOOGLE_CLIENT_ID_ANDROID=411176906066-7mtqhfjh0mj9dg0bjvnpgm90a5jhe5ob.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=411176906066-7mtqhfjh0mj9dg0bjvnpgm90a5jhe5ob.apps.googleusercontent.com
